main {
  transform: translateY(9rem);
  width: 100%;
  padding-left: 10rem;
  margin-bottom: 25rem;
}

#top-rating {
  color: black;
  margin-bottom: 15px;
}

#top-rating .green {
  color: #0fbd92;
}

#top-rating .fa-star {
  font-size: 1.3rem;
}

#top-rating span {
  margin-left: 10px;
  font-weight: 500;
}

#images {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#images img {
  width: 10rem;
  margin-bottom: 1rem;
  position: relative;
}

#images span {
  position: relative;
  margin-bottom: -4rem;
  cursor: pointer;
}

#images span::before {
  content: "";
  position: absolute;
  height: 6rem;
  width: 6rem;
  background-color: #d9d9d9;
  border-radius: 7px;
  opacity: 27%;
  z-index: 1;
  top: 29px;
  left: 29px;
}

#product-info {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-img {
  margin-left: 7rem;
  margin-right: 12rem;
  position: relative;
}

#main-img::before {
  content: "";
  position: absolute;
  width: 16rem;
  height: 5rem;
  background-color: black;
  bottom: 10px;
  z-index: -1;
  filter: blur(3.6rem);
}

#text-info {
  text-align: center;
  line-height: 1.5rem;
}

#text-info h1 {
  margin-bottom: 3rem;
  font-weight: 400;
}

#secondary {
  margin-top: 3rem;
}

#attributes div {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
}

#attributes div p:nth-child(1) {
  color: #454545;
  font-weight: 400;
}

#attributes div p:nth-child(2) {
  color: black;
  font-weight: 500;
}

#price-con p:nth-child(2) {
  margin-left: 8rem;
}

#colors-con {
  margin: 1.3rem 0;
}

#colors {
  margin-top: 5px;
  margin-left: 7.2rem;
}

#colors span {
  width: 1rem;
  height: 1rem;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#colors span:nth-child(1) {
  background-color: black;
}
#colors span:nth-child(2) {
  background-color: #ff5c00;
}
#colors span:nth-child(3) {
  background-color: white;
}

#age {
  margin-left: 4rem;
}

#main-buttons {
  transform: translateY(11rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-buttons button:nth-child(1) {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background-color: black;
  border-radius: 2rem;
  border: none;
  color: #0fbd92;
  cursor: pointer;
  margin-bottom: 1rem;
}

#main-buttons button:nth-child(2) {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background-color: #0fbd92;
  border-radius: 2rem;
  border: none;
  color: black;
  cursor: pointer;
}

#ratings-con {
  width: 100%;
  text-align: center;
  color: black;
}

#overall-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1.5rem;
}

#main-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4949495a;
}

#rate {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

#rate p {
  color: #494949;
  font-size: 1rem;
}

#rate .green {
  color: #0fbd92;
}

.bar-rating {
  margin-bottom: 1.2rem;
}

.bar-rating div {
  width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.bar {
  display: block;
  position: relative;
  height: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  margin-top: 5px;
}

.bar-rating:nth-child(1) .bar::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background-color: #0fbd92;
  border-radius: 1rem;
  left: 0;
}

.bar-rating:nth-child(2) .bar::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.5rem;
  background-color: #eb830c;
  border-radius: 1rem;
  left: 0;
}

.bar-rating:nth-child(3) .bar::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 0.5rem;
  background-color: red;
  border-radius: 1rem;
  left: 0;
}

hr {
  width: 50%;
  height: 1px;
  border: none;
  background-color: #4949495a;
  margin: 3rem 0;
}

.info {
  font-size: 1.3rem;
  font-weight: 600;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.stars {
  font-size: 1.2rem;
}

.date {
  font-weight: 600;
  margin-left: 7px;
  opacity: 55%;
}

.stars .green {
  color: #0fbd92;
}

.stars .orange {
  color: #eb830c;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text {
  width: 50%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #262626;
  line-height: 1.5rem;
}
